@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 28, 29, 33;
  --background-rgb: 244, 243, 242;
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
